/*Custom Properties*/
:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --primario: #784d3c;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body { 
    background-color: rgb(50, 50, 68);
    overflow: auto; /* Habilita el scroll */
}

svg {
    cursor: grab; /* Aplica un cursor de agarre por defecto */
}

/*Globales*/
.contenedor {
    max-width: 120rem;
    width: 90%;
    /*Centrar el contenido*/
    margin: 0 auto;
}
a {
    /*Enlaces sin interlineado*/
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}

/* HEADER */
.header {
    height: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    /*Centrar vertical y horizontalmente*/
    background-position: center center;
    background-color: rgb(45, 45, 62);
}
.barra {
    padding-top: 2rem;
    padding-bottom: 1rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    color: var(--blanco);
}
.logo__nombre {
    font-weight: normal;
}
.logo__bold {
    font-weight: 700;
}
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

/* Icono de perfil*/
.fa-solid {
    color: var(--blanco);
    position: absolute;
    top: 6.3%; /* Ajusta la posición vertical */
    right: 6rem; /* Ajusta la posición horizontal */
}

/* MAPA */
@media (min-width: 390px) {
    svg {  
        position: relative;
        left: 5%;
        bottom: 0%;
        zoom: 35%;
    }
}
@media (min-width: 768px) {
    svg {  
        position: relative;
        left: 10%;
        bottom: 0%;
        zoom: 60%;
    }
}
@media (min-width: 1080px) {
    svg {  
        position: relative;
        left: 20%;
        top: 2%;
        bottom: 0%;
        zoom: 73%;
    }
}
@media (min-width: 1440px) {
    svg {  
        position: relative;
        left: 5%;
        bottom: 0%;
        zoom: 90%;
    }
}

svg path {
    cursor: pointer;
}

svg path:hover {
    fill: crimson;
}

#namep {  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: 300;
    font-size: 50px;
    border: 5px solid crimson;
    width: fit-content;
}