/*Custom Properties*/
:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --background-color: rgb(50, 50, 68);
    --primario: #784d3c;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body { 
    background-color: var(--background-color);
    overflow: auto; /* Habilita el scroll */
}

svg {
    cursor: grab; /* Aplica un cursor de agarre por defecto */
}

/*Globales*/
.contenedor {
    max-width: 120rem;
    width: 90%;
    /*Centrar el contenido*/
    margin: 0 auto;
}
a {
    /*Enlaces sin interlineado*/
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 3.5rem;
    color: var(--blanco);
    font-weight: 700;
    text-transform: uppercase;
}

/* HEADER */
.header {
    height: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    /*Centrar vertical y horizontalmente*/
    background-position: center center;
    background-color: rgb(45, 45, 62);
    position: relative; /* Necesario para que el ícono se posicione correctamente */
}
.barra {
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative; /* Establece un contexto para el icono */
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative; /* Mantener para soporte del icono */
    }
}
.logo {
    color: var(--blanco);
}
.logo__nombre {
    font-weight: normal;
}
.logo__bold {
    font-weight: 700;
}
@media (min-width: 768px) {
    .navegacion {
        margin-left: auto; /* Empuja el ícono hacia la derecha */
        display: flex;
        gap: 2rem;
    }
}

/* Barra de búsqueda */
/* Contenedor de búsqueda */
.search-container {
    position: absolute; /* Fija la posición dentro de .header */
    top: 62%; /* Ajusta la posición vertical */
    right: 8rem; /* Ajusta la posición horizontal */
    transform: translateY(-50%); /* Centra el icono verticalmente dentro del header */
    z-index: 10; /* Asegura que esté encima de otros elementos */
 }
 
 #search-input {
    width: 15rem;
    padding: 0.5rem;
    font-size: 1.4rem;
    border: 1px solid var(--gris);
    border-radius: 4px;
 }
 
 /* Lista desplegable */
 #country-list {
    position: absolute;
    top: 3.5rem; /* Justo debajo del input */
    width: 15rem;
    max-height: 12rem; /* Muestra máximo 5 elementos (ajusta según el diseño) */
    overflow-y: auto;
    border: 1px solid var(--gris);
    background: var(--blanco);
    border-radius: 4px;
    z-index: 100; /* Asegura que la lista esté por encima de otros elementos */
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Oculto por defecto */
 }
 
 #country-list li {
    padding: 0.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.2s;
 }
 
 #country-list li:hover {
    background-color: rgba(68, 80, 86, 0.212);
 }

/* Asegura que la lista se vea bien */
#country-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
 }
 
 /* Espaciado entre el checkbox y el nombre del país */
 .country-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Espacio entre elementos de la lista */
 }
 
 .country-item input[type="checkbox"] {
    margin-right: 10px; /* Separar el checkbox del texto */
 }
 
 .country-name {
    font-size: 16px; /* Ajusta el tamaño del texto si es necesario */
 }
 
 
 /* Resaltado del país en el mapa */
 svg path.selected {
    fill: green !important;
 }

/* Icono de barra*/
#menu-icon {
    color: var(--blanco);
    position: absolute; /* Fija la posición dentro de .header */
    top: 62%; /* Ajusta la posición vertical */
    right: 2rem; /* Ajusta la posición horizontal */
    transform: translateY(-50%); /* Centra el icono verticalmente dentro del header */
    z-index: 10; /* Asegura que esté encima de otros elementos */
    font-size: 2.5rem; /* Ajusta el tamaño del ícono */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    padding: 1rem; /* Agrega espacio alrededor del ícono */
    border-radius: 50%; /* Forma circular */
}

.fa-solid:hover {
    background-color: rgba(0, 0, 0, 0.32); /* Fondo más oscuro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para un mejor efecto */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Dropdown Menu */
.dropdown-menu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 70%;
    right: 2.5rem;
    background-color: var(--blanco);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 20;
    width: 15rem;
    text-align: left;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--gris-oscuro);
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-item i {
    margin-right: 1rem; /* Espaciado entre ícono y texto */
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo al pasar el mouse */
    cursor: pointer;
}
/* Fin Dropdown Menu */

/* MAPA */
#map-container {
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: no-repeat;
    background-size: cover;
}

@media (min-width: 390px) {
    svg {  
        position: relative;
        left: 5%;
        top: 2%;
        bottom: 0%;
        zoom: 35%;
    }
}
@media (min-width: 520px) {
    svg {  
        position: relative;
        left: 5%;
        bottom: 0%;
        zoom: 50%;
    }
}
@media (min-width: 768px) {
    svg {  
        position: relative;
        left: 10%;
        bottom: 0%;
        zoom: 60%;
    }
}
@media (min-width: 900px) {
    svg {  
        position: relative;
        left: 10%;
        bottom: 0%;
        zoom: 70%;
    }
}
@media (min-width: 1080px) {
    svg {  
        position: relative;
        left: 20%;
        top: 2rem;
        bottom: 0%;
        zoom: 73%;
    }
}
@media (min-width: 1440px) {
    svg {  
        position: relative;
        left: 15%;
        bottom: 0%;
        zoom: 125%;
    }
} 

svg path {
    cursor: pointer;
}

svg path:hover {
    fill: crimson;
}

#namep {  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: 300;
    font-size: 50px;
    border: 5px solid crimson;
    width: fit-content;
}

/* CONTENEDOR CONTENIDO PRINCIPAL*/
.contenido-principal {
    margin-top: 2rem;
    padding: 1rem;
    background-color: rgb(45, 45, 62);
    border-radius: 2rem;
}

/* LOG AND PROGRESS */

.title-progress{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

/* Estilo para la barra de progreso circular */
.circular-progress {
    position: relative;
    width: 18rem; /* Tamaño del círculo */
    height: 18rem;
    border-radius: 50%;
    background: conic-gradient(
        var(--progress-color, white) 50%,
        var(--progress-color, white) calc(var(--percentage, 0) * 1%),
        var(--bg-color, grey) calc(var(--percentage, 0) * 1%)
    );
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto; /* Centrar la barra */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.circular-progress .inner-circle {
    position: absolute;
    width: 15rem; /* Tamaño del círculo interno */
    height: 15rem;
    border-radius: 50%;
    background-color: var(--inner-circle-color,  var(--background-color));
    z-index: 1;
}

.circular-progress .percentage {
    position: absolute;
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}
